{
    "name": "obj_0",
    "objects": [
        {
            "color": [
                100,
                149,
                237
            ],
            "height": 40.0,
            "id": "obj_0",
            "parent": "",
            "rotation": 0.0,
            "scaleX": 1.0,
            "scaleY": 1.0,
            "tag": "",
            "type": "rectangle",
            "width": 40.0,
            "x": 0.0,
            "y": 0.0,
            "zIndex": 0
        }
    ]
}